/* typography */
h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;

  color: var(--gray);
}

h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;

  color: var(--gray);
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;

  color: var(--gray);
}
.wrapper {
  position: relative;
  min-width: 160rem;
  height: 497.5rem;
  margin: 0 auto;
}

.button--orange {
  background: linear-gradient(113.96deg, var(--orange-dark) 1.49%, var(--orange-light) 101.44%);
  color: var(--white);

  padding: 1.8rem 8.1rem;
  border: none;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;

  text-align: center;
  text-transform: uppercase;
}

.button--orange:hover {
  background: var(--orange-hover);
}

.button--round {
  border-radius: 25px;
}

/* header */

header {
  position: absolute;
  left: 0px;
  top: 0px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8rem;
  padding: 0 22rem;

  background: var(--black);
  backdrop-filter: blur(2px);
  color: var(--white);
}

.header__logo {
  position: relative;
  flex-grow: 1;
  padding: 1px;
  width: 8.2rem;
  height: 5.2rem;
  border: 1.18841px solid var(--white);
  border-radius: 2px;
}

.header__logo img {
  position: absolute;
  left: 12.23px;
  top: 21.64px;

  width: 0.703rem;
  height: 2.098rem;
}

.header__logo h1 {
  font-weight: 400;
  font-size: 2rem;
  line-height: 120%;
  text-align: center;
  margin: 0 auto;
}

header a {
  color: var(--white);
}

header nav {
  flex-grow: 4;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding-left: 3.7rem;
}

header nav ul :last-child {
  margin-left: auto;
}

header nav ul li {
  padding: 3rem;
}
header nav ul li :last-child {
  padding: 0;
}
header nav ul li a {
  color: var(--white);
}

.active {
  background: linear-gradient(113.96deg, var(--orange-dark) 1.49%, var(--orange-light) 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

/*Watch Your Favorite Animal Section*/

#watchAnimal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 6.4rem;
  width: 100%;
  height: 78rem;
  padding: 9.38rem 32.8rem;

  background-image: url("/assets/images/giant-panda.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.watchAnimal__elipse {
  width: 46.5rem;
  height: 46.5rem;
  background: linear-gradient(113.96deg, var(--orange-dark) 1.49%, var(--orange-light) 101.44%);
  border-radius: 50%;
}

.watchAnimal__text {
  width: 50.031rem;
  height: 40rem;
  margin: 7.2rem;

  color: var(--white);

  font-family: "Roboto";
  font-weight: 700;
  font-size: 106.496px;
  line-height: 75%;

  text-align: center;
  text-transform: uppercase;
}
.watchAnimal__text span {
  color: var(--yellow);
}

/* backstage section */
.backstage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 9rem;
  padding: 14rem 22rem;
  height: auto;

  background: url(/assets/images/flower-foto1.jpg);
  background-repeat: no-repeat;
  background-position: 100% 1.2rem;
  border: none;
}

.backstage__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.85rem;
}
