body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

/* typography */
h1 {
  font-size: 19.01px;
}

h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: var(--gray);
}

h3 {
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: var(--gray);
}

h4 {
  font-weight: 500;
  line-height: 120%;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--black);
}

.p--subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: var(--grey);
}

.p--small {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: var(--black);
}

.p1 {
  line-height: 130%;
}

.subtitle {
  font-size: 24px;
  line-height: 120%;
}

.button--orange {
  background: linear-gradient(113.96deg, var(--orange-dark) 1.49%, var(--orange-light) 101.44%);
  color: var(--white);

  padding: 16px 85px;
  border: none;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;

  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.button--orange:hover {
  background: var(--orange-hover);
}

.button--round {
  border-radius: 25px;
}

.button--square {
  border-radius: 5px;
}

.content__container {
  max-width: 1160px;
  margin: 0 auto;
}
section,
header {
  min-width: 1600;
}
/* header */
header {
  height: 80px;
  background: var(--black);
  backdrop-filter: blur(2px);
  color: var(--white);
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header__logo {
  position: relative;
  flex-grow: 1;
  padding: 5px;
  width: 84.5px;
  height: 52px;
  border: 1.18841px solid var(--white);
  border-radius: 2px;
  cursor: pointer;
}

.header__logo:hover {
  background-color: var(--orange-hover);
}

.header__logo img {
  position: absolute;
  left: 12.23px;
  top: 21.64px;

  width: 7.03px;
  height: 20.98px;
}

.header__logo h1 {
  font-size: 19.01px;
  text-align: center;
  margin: auto;
}

header a {
  color: var(--white);
}

header nav {
  flex-grow: 4;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  padding-left: 37px;
}

header nav ul :last-child {
  margin-left: auto;
  margin-right: 0;
}

header nav ul li {
  padding: 30px;
}
header nav ul li :last-child {
  padding: 0;
}
header nav ul li a {
  color: var(--white);
}

header nav ul li.active,
header nav ul li a:hover,
header nav ul li a:focus,
header nav ul li a:active {
  background: linear-gradient(113.96deg, var(--orange-dark) 1.49%, var(--orange-light) 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
/*Watch Your Favorite Animal Section*/

#watchAnimal {
  background: url("../../assets/images/giant-panda.jpg") var(--black) no-repeat;
  background-position: bottom center;
}

.watchAnimal__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 66px;
  padding-top: 12px;
  padding-bottom: 102px;
  padding-right: 106px;
}

.watchAnimal__elipse {
  width: 465px;
  height: 465px;
  background: linear-gradient(113.96deg, var(--orange-dark) 1.49%, var(--orange-light) 101.44%);
  border-radius: 50%;
}

.watchAnimal__text {
  width: 500.31px;
  height: 400px;
  margin: 72px;

  color: var(--white);

  font-family: "Roboto";
  font-weight: 700;
  font-size: 106.496px;
  line-height: 75%;

  text-align: center;
  text-transform: uppercase;
}
.watchAnimal__text span {
  color: var(--yellow);
}

/* backstage section */
.backstage {
  width: 100%;
  background: url(../../assets/images/flower-foto1.jpg);
  background-repeat: no-repeat;
  background-position: 100% 12px;
  color: var(--gray);
  border: none;
}

.backstage__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 88px;
  padding: 143px 0;
}

.backstage__description {
  display: flex;
  flex-direction: column;
}

.backstage__description .p--backstage1 {
  line-height: 130%;
  padding-top: 20px;
  padding-bottom: 54px;
}

.backstage__description .subtitle {
  padding-bottom: 34px;
}

/* pets section */
.pets {
  width: 100%;
  background-image: url("../../assets/images/palm_foto.jpg"), url("../../assets/images/strelitzia 1.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom left, bottom right;
}
.pets__wrapper {
  padding-top: 30px;
  padding-bottom: 104px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 82px;
}

.pets__wrapper button {
  padding: 16px 60px;
  margin: 0 auto;
}
.pets__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.pets__content a {
  transition: all 2s ease-out 100ms;
}

.pets__content a:hover {
  transform: scale(1.2);
  border-radius: 50%;
}

.pets__gallery {
  flex-grow: 4;
  display: grid;
  grid-auto-columns: minmax(366px, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: column;
  column-gap: 33px;
  row-gap: 16px;
}

.gallery__card {
  width: 366px;
  height: 426px;
  border: 2px solid var(--orange-card);
  border-radius: 5px;
}

.gallery__card:hover {
  border: none;
}

.gallery__card img {
  width: 100%;
  height: 366px;
  transition: all 2s ease-out 100ms;
}

.gallery__card:hover img {
  transform: scale(1.2);
  filter: brightness(55%);
}

.gallery__description {
  transition: all 2s ease-out 100ms;
}

.gallery__card:hover .gallery__description {
  color: var(--white);
  background-color: var(--black);
  transform: scale(1.2);
  transform: translateY(-100%);
  overflow: hidden;
  border: none;
}

.gallery__card:hover p {
  color: var(--white);
}

.eagles {
  grid-area: 1/2/2/3;
}

.gorillas {
  grid-area: 1/3/2/4;
}

.gallery__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.gallery__text {
  display: flex;
  flex-direction: column;
}

.gallery__text h4 {
  text-transform: uppercase;
}

.gallery__card p {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
}

.gallery__description img {
  width: 32px;
  height: 29.15px;
}

/* feed */
.feed {
  width: 100%;
  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  opacity: 0.9;
  padding: 69px 0;
  padding-bottom: 104px;
}

.feed__wrapper {
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  padding-top: 41px;
  padding-bottom: 6px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed__wrapper button {
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 50px;
  padding: 16px 76px;
}

.feed__wrapper a,
.feed__wrapper a:visited {
  color: var(--gray);
}

.feed__wrapper h2 {
  color: var(--orange-light);
  margin-bottom: 30px;
}

.feed__wrapper h3 {
  margin-bottom: 40px;
}

.feed__wrapper p.subtitle {
  padding-left: 99px;
  margin-bottom: 40px;
  align-self: flex-start;
}

.feed__wrapper p.p--feed1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: var(--gray);
  padding-left: 99px;
  margin-bottom: 10px;
  align-self: flex-start;
}

.feed__wrapper p.p--feed2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: var(--gray);
  padding-left: 99px;
  padding-right: 198px;
  margin-bottom: 60px;
  align-self: flex-start;
}

.feed__wrapper p.p--feed2 span {
  border-bottom: 1px solid var(--orange-dark);
}

.diagram {
  display: grid;
  grid-template-columns: 168px 130px 168px 130px 168px;
  grid-template-rows: 168px 36px;
  row-gap: 40px;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.diagram__item {
  width: 168px;
  height: 168px;
  border: 1px solid var(--orange-dark);
  background: var(--white);
  border-radius: 5px;
  text-align: center;
}
.diagram__item img {
  padding-top: 50px;
}

.diagram__item--text1 {
  grid-area: 2/1/3/2;
  justify-self: start;
  align-self: flex-start;
}

.diagram__item--text2 {
  grid-area: 2/3/3/4;
  justify-self: start;
}

.diagram__item--text3 {
  grid-area: 2/5/3/6;
  justify-self: start;
}

/* testimionals */

.testimonials {
  width: 100%;
  background: url("../../assets/images/leav_foto.jpg") no-repeat bottom right;
}
.testimonials__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 140px 0;
  padding-bottom: 110px;
}

.testimonials__wrapper button {
  align-self: flex-start;
  margin-top: 10px;
}

.testimonials__card--wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-top: 46px;
  gap: 30px;
}

.testimonials__card {
  width: 267px;
  height: 391px;
  background: var(--testimonials-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.testimonials__card:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  padding: 2px;
  background: linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.card__feedback {
  width: 237px;
  height: 309px;

  overflow-y: hidden;
}

.card__header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 5px;
  align-items: center;
  padding: 5px 15.5px;
}

.card__description {
  display: flex;
  flex-direction: column;
}

progress {
  width: 599px;
  height: 8px;
  margin: 20px;
  border: 1px solid var(--orange-dark);
  border-radius: 5px;
}
progress::-webkit-progress-bar {
  color: (--white);
  background-color: var(--gray-light);
}
progress::-webkit-progress-value {
  background-color: var(--orange-dark);
}
progress::-moz-progress-bar {
  background-color: (--white);
}
/* footer */
.footer {
  width: 100%;
  height: 450px;
  background-color: var(--black);
  color: var(--white);
}

.footer__wrapper {
  padding: 40px 2px;
  padding-right: 0px;
}

.footer__wrapper {
  margin-top: 68px;
}

.footer--donate {
  margin-top: 68px;
  padding: 16px 48px;
}
.footer a {
  color: var(--white);
}

.footer__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

.footer__social {
  display: flex;
  flex-direction: column;
  padding-top: 44px;
  gap: 6px;
}

.social--item:hover,
.scial--item:active {
  background: var(--orange-dark);
  width: 120px;
  border: 1px solid var(--orange-dark);
}

.social--item {
  cursor: pointer;
}

.column--2 {
  align-self: flex-end;
  padding: 5px 0;
  padding-left: 12px;
}

.column--2 nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 54px;
}

.column--3 {
  display: flex;
  flex-direction: column;
}

.column--3 p {
  color: var(--white);
  padding-left: 20px;
}

.footer__form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer__form input {
  width: 228px;
  height: 42px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid var(--orange-dark);
  background: var(--black);
  color: var(--white);
  border-radius: 2px;
  padding-left: 10px;
}

.button__form button {
  width: 129px;
  height: 42px;
  cursor: pointer;
}

.button__submit {
  margin-top: 20px;
  padding: 13px 48px;
  background: var(--gray-light);
  border: 1px solid var(--gray);
  color: var(--black);
  border-radius: 5px;
}

.button__submit:focus {
  background: #f1f3f2;
  border: 1px solid #4b9200;
  color: #4b9200;
}

.footer__form input:focus:invalid + .button__submit {
  color: #d31414;
  border: 1px solid #d31414;
}

.footer__copywrittes {
  align-self: flex-end;
  padding-top: 220px;
}

footer nav ul li.current,
footer nav ul li a:hover,
footer nav ul li a:focus,
footer nav ul li a:active {
  background: linear-gradient(113.96deg, var(--orange-dark) 1.49%, var(--orange-light) 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
